.jobSelection {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 233px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  padding-right: 10px;
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-9xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vectorIcon {
    position: relative;
    width: 21px;
    height: 20.97px;
  }

