.conflictResolutionContainer {
  border-radius: var(--br-mini-5);
  padding: var(--padding-8xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  color: white;
  background-color: gray; /* Initial gray background color */
  cursor: pointer;
  border: 0;
  width: auto;
  white-space: nowrap;
}

.conflictResolutionContainer.selected {
  background: linear-gradient(-85.86deg, #f0f, #164193); /* Gradient background for selected state */
}
