.frameParent2 {
  align-self: stretch;
  gap: 14px;
  flex-direction: row;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-nunito);
  flex-wrap: wrap;
}
.instanceParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}