.aiIcon1 {
    position: relative;
    width: 18px;
    height: 18px;
    object-fit: cover;
  }

.frameParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-10xs);
  }

.conflictResolution
    {
  position: relative;
  }